.header{
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background-color: white;
    border-bottom: 1px solid rgb(229, 229, 229);
    z-index: 1;
}
.left-side{
    display: flex;
    align-items: center;
}
.humberger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;

}
.youtube-logo{
    height: 20px;
}
.middle-side{

    flex: 1;
    margin-left: 70px;
    margin-right: 40px;
    max-width: 500px;
    display: flex;
    align-items: center;


}
.search-bar{
    flex: 1;
    width: 0;
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    z-index: 20;
}

.search-bar::placeholder{
    font-family: roboto,arial;
    font-size: 16px;
}
.search-btn{
    height: 39.5px;
    width: 66px;
    margin-left: -2px;
    background: rgb(240,240,240);
    border: 1px solid rgb(192,192,192);
    margin-right: 10px; 

    cursor: pointer;
}
.search-btn,
.voice-search-btn,
.upload-icon-container,
.youtube-icon-container,
.notification-icon-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-btn .tooltip,
.voice-search-btn .tooltip,
.upload-icon-container .tooltip,
.youtube-icon-container .tooltip,
.notification-icon-container .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    font-family: roboto,arial;
    padding: 7px;
    border-radius: 2px;
    bottom: -33px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    font-size: 12px;
}
.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
    opacity: 1;
}
.search-icon{
    height: 25px;

}

.voice-search-btn{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.voice-icon{
    width: 24px;
}

.right-side{
    
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 15px;
}
.upload-icon{
    height: 24px;
}
.youtube-apps-icon{
    height: 24px;
}
.notifications-icon{
    height: 24px;
}
.notification-icon-container{
    position: relative;
}
.notification-count{
    position: absolute;
    background-color: rgb(225, 0, 0);
    color: white;
    top: -2px;
    right: -5px;
    font-family:roboto,arial;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 10px;
    
}
.my-profile{
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 16px;
}
